@model FinancesMVC.Models.Category
﻿@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> userManager

@{
    ViewData["Title"] = "Edit";
    var user = await userManager.GetUserAsync(User);
}

<h1>Edit "@ViewBag.Name"</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="TotalExpences" />

            <div class="form-group">
                <label>Category name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpenditureLimit" class="control-label"></label>
                <input asp-for="ExpenditureLimit" class="form-control" />
                <span asp-validation-for="ExpenditureLimit" class="text-danger"></span>
            </div>
            @if (!user.IsMature)
            {
                <label class="form-group">
                    Should the category be controlled by a parent?
                    <input asp-for="IsParentControl" type="checkbox" />
                </label>
            }
            <input type="submit" value="Save" class="btn btn-primary" />
        </form>
    </div>
</div>
<a class="btn btn-outline-primary" style="margin-top:1%" asp-action="Index">Back to List</a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
