@{
    ViewData["Title"] = "Email Confirmation";
}

<div id="wrapper" class="container-fluid bg-light" style="background-color: rgba(255, 255, 255, 0.7) !important;">
    <div class="container">
        <div class="text-center py-5">
            <h1 class="display-4">Confirmation has been sent.</h1>
            <p class="lead" style="font-size: 30px !important;">Please check your email address attached to the account.</p>
        </div>
    </div>
</div>
