@model FinancesMVC.ViewModels.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}

<div class="row d-flex align-items-center justify-content-center">
    <div style="background-color: rgba(255, 255, 255, 0.7) !important;" class="col-md-3 card p-3">
        <h2 class="text-center text-info">Password Reset</h2>
        <form asp-action="ForgotPassword" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
            <div class="mb-1">
                <label class="control-label">Enter your email or username:</label>
                <input asp-for="UsernameOrEmail" class="form-control" />
                <span asp-validation-for="UsernameOrEmail" class="text-danger"></span>
            </div>

            @if (ViewData.ModelState.ErrorCount > 0)
            {
                <b><div asp-validation-summary="ModelOnly" class="text-danger"></div></b>
            }

            <div style="margin-top:5%; align-content: center !important;" class="row">
                <div class="col-4 offset-3">
                    <input style="margin-left:50% !important;" type="submit" value="Send Code" class="btn btn-primary btn-md float-end" />
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
