@model FinancesMVC.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="row d-flex align-items-center justify-content-center">
    <div style="background-color: rgba(255, 255, 255, 0.7) !important;" class="col-md-4 card p-3">
        <h2 class="text-center text-info">Create account</h2>
        <form asp-action="Register" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
            <div>
                <label asp-for="Username" class="control-label"></label><br />
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Email" class="control-label"></label><br />
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div style ="margin-top:1%;">
                <label asp-for="BirthYear" class="control-label"></label><br />
                <select asp-for="BirthYear" asp-items="@ViewBag.YearList" class="form-control"></select>
                <div class="row">
                    <span asp-validation-for="BirthYear" class="text-danger"></span>
                </div>
            </div>
            <div style="margin-top:-1%">
                <label asp-for="Password" class="control-label"></label><br />
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div style="margin-top:3%">
                <label asp-for="ConfirmPassword" class="control-label"></label><br />
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-8">
                    <a asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" class="text-decoration-none float-start mt-2">Have an account?</a>
                </div>
            </div>
            <div style="margin-top:3%;" class="row">
                <div class="col-4 offset-3">
                    <input style="margin-left:50% !important;" type="submit" value="Sign up" class="btn btn-primary btn-md float-end" />
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}